*{
    box-sizing: border-box;

}
.jumbotron {
    text-align: center;
    background-color: green;
    margin-bottom: 30px;
    color: red;
}
.container-fluid {
    background-color: burlywood;
    
}





















